@font-face {
  font-family: 'Museo Sans 300 Light';
  src: url('../fonts/MuseoSansCyrl-300.eot');
  src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSansCyrl-300.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans 500 Medium';
  src: url('../fonts/MuseoSansCyrl-500.eot');
  src: url('../fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSansCyrl-500.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans 700 Bold';
  src: url('../fonts/MuseoSansCyrl-700.eot');
  src: url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSansCyrl-700.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
html {
  font-size: 0.625em;
}
body {
  font-family: 'Museo Sans 500 Medium', 'sans-serif';
  font-size: 1.6rem;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
section {
  padding-bottom: 10rem;
}
.section-header h2 {
  font-size: 3.6rem;
  color: #535353;
}
button {
  font-family: 'Museo Sans 700 Bold', 'sans-serif';
  display: block;
  background-color: #68b0c9;
  color: #fff;
  padding: 2.1rem 5rem;
  margin-right: auto;
  margin-left: auto;
  border: none;
  border-radius: 2.3rem;
  box-shadow: 0 5px 5px rgba(1, 1, 1, 0.1);
}
button:hover {
  background: #3c8ca8;
}
input {
  display: block;
  padding: 1.7rem 4.3rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border: 1px solid #e8e8e8;
  border-radius: 2rem;
}
header {
  padding-top: 4rem;
  margin-bottom: 0rem;
}
header .logo {
  padding-top: 3rem;
}
header .logo img {
  position: absolute;
  top: -20%;
}
header .logo-text {
  position: relative;
  font-size: 2.3rem;
  color: #68b0c9;
}
header .phone {
  padding-top: 1rem;
}
header .phone strong {
  font-size: 2.4rem;
  color: #535353;
  line-height: 4.2rem;
}
header .phone a {
  font-size: 1.4rem;
  line-height: 4.2rem;
  text-decoration: underline;
  text-align: right;
}
.hero {
  background: url(../images/hero/hero_bg.jpg) no-repeat center;
  background-size: cover;
  max-width: 100%;
}
.hero-title h1 {
  font-family: 'Museo Sans 700 Bold', 'sans-serif';
  font-size: 4rem;
  line-height: 5rem;
  color: #535353;
  padding-top: 2rem;
  text-align: right;
}
.hero-title span {
  display: block;
  font-size: 2.7rem;
  line-height: 4.2rem;
  color: #68b0c9;
  text-align: right;
}
.hero .form {
  background-color: #fff;
  padding: 4rem !important;
  margin-top: 7rem;
  border-radius: 2rem;
  box-shadow: 0 0 38px rgba(104, 176, 201, 0.34);
}
.hero .form-title {
  font-family: 'Museo Sans 700 Bold', 'sans-serif';
  font-size: 2rem;
  color: #68b0c9;
}
.hero .form-subtitle {
  font-size: 1.2rem;
}
.facilities-header {
  font-family: 'Museo Sans 700 Bold', 'sans-serif';
  margin-top: 8rem;
  margin-bottom: 16rem;
}
.facilities-description h3 {
  font-family: 'Museo Sans 700 Bold', 'sans-serif';
  font-size: 3rem;
  color: #68b0c9;
  padding-bottom: 3rem;
  padding-top: 3.5rem;
}
.facilities-description p {
  font-family: 'Museo Sans 300 Light', 'sans-serif';
  font-size: 1.8rem;
  color: #535353;
}
.facilities-image {
  margin-bottom: 14rem;
}
.facilities-image img {
  max-width: 100%;
}
.price {
  background: url(../images/price/price-bg.jpg) no-repeat center;
  background-size: cover;
  font-family: 'Museo Sans 700 Bold', 'sans-serif';
  max-width: 100%;
}
.price-header {
  padding-top: 7rem;
  padding-bottom: 8rem;
}
.price-header strong {
  font-size: 5.5rem;
}
.price-header h2 {
  font-size: 2.6rem;
}
.price-header span {
  font-size: 2.6rem;
  color: #68b0c9;
}
.price-pricing {
  width: 100%;
  height: 100%;
  background: #fff;
  text-align: center;
  border-radius: 50%;
}
.price-pricing p {
  font-size: 1.8rem;
  color: #1e1e1e;
  padding-top: 4rem;
  margin-bottom: 0;
  text-decoration: line-through;
}
.price-pricing strong {
  font-size: 3rem;
  color: #d04545;
}
.price-book {
  font-size: 1.4rem;
  color: #d04545;
}
.stats {
  padding-top: 10rem;
}
.stats-numbers h3 {
  font-family: 'Museo Sans 700 Bold', 'sans-serif';
  font-size: 4.7rem;
  color: #68b0c9;
  text-align: center;
  line-height: 5rem;
}
.stats-numbers span {
  width: 100%;
  display: inline-block;
  font-size: 1.8rem;
  text-align: center;
}
.features {
  background: url(../images/features/chair.jpg) no-repeat center 2rem;
  background-size: cotain;
}
.features-description {
  margin-bottom: 8rem;
}
.features-description h3 {
  position: relative;
  font-family: 'Museo Sans 700 Bold', 'sans-serif';
  font-size: 2rem;
  color: #68b0c9;
  padding-bottom: 2rem;
  text-align: right;
}
.features-description .first-arrow {
  position: absolute;
  top: 5%;
  left: 100%;
}
.features-description .second-arrow {
  position: absolute;
  top: -10%;
  right: 100%;
}
.features-description .third-arrow {
  position: absolute;
  top: -10%;
  right: -45%;
}
.features-description .fourth-arrow {
  position: absolute;
  top: 10%;
  right: 95%;
}
.features-description p {
  font-family: 'Museo Sans 300 Light', 'sans-serif';
  font-size: 1.4rem;
  color: #535353;
  text-align: right;
}
.features-description-right h3 {
  text-align: left;
}
.features-description-right p {
  text-align: left;
}
.delivery {
  background: url(../images/delivery/delivery-bg.jpg) no-repeat center;
  padding-top: 1rem;
}
.delivery-form {
  background: url(../images/delivery/arrow.svg) no-repeat right;
}
.delivery-title h3 {
  font-size: 2rem;
  font-family: 'Museo Sans 700 Bold', 'sans-serif';
  line-height: 3.4rem;
}
.delivery-subtitle span {
  font-size: 2rem;
  font-family: 'Museo Sans 700 Bold', 'sans-serif';
  color: #68b0c9;
}
.compare {
  background: url(../images/compare/compare-bg.jpg) no-repeat;
  background-position: 49.5% 50%;
  background-size: 26rem;
}
.compare-header {
  padding-top: 5rem;
  padding-bottom: 4.5rem;
}
.compare-header p {
  display: inline-block;
  text-align: left;
}
.compare-header p:first-of-type {
  text-align: right;
}
.compare-header-gray {
  font-family: 'Museo Sans 700 Bold', 'sans-serif';
  font-size: 2.2rem;
  color: #535353;
  padding-right: 6rem;
}
.compare-header-blue {
  font-family: 'Museo Sans 700 Bold', 'sans-serif';
  font-size: 2.2rem;
  color: #68b0c9;
}
.compare-description-block {
  font-family: 'Museo Sans 700 Bold', 'sans-serif';
  font-size: 1.5rem;
  padding-bottom: 3rem;
}
.compare-description-block .gray {
  position: relative;
  color: #535353;
  text-align: right;
}
.compare-description-block .gray-image {
  position: absolute;
  top: 0;
  right: -30%;
}
.compare-description-block .blue {
  position: relative;
  color: #68b0c9;
}
.compare-description-block .blue-image {
  position: absolute;
  top: 0;
  left: -30%;
}
.address iframe {
  max-width: 100%;
}
.address-delivery img {
  padding-bottom: 2rem;
}
.address-delivery p {
  font-family: 'Museo Sans 300 Light', 'sans-serif';
  font-size: 1.6rem;
  color: #535353;
  padding-bottom: 2rem;
}
.address-delivery h4 {
  font-family: 'Museo Sans 700 Bold', 'sans-serif';
  font-size: 2rem;
  color: #68b0c9;
  padding-bottom: 5rem;
}
.footer .logo img {
  position: absolute;
  top: -80%;
}
.footer .logo-text {
  position: relative;
  font-size: 2.3rem;
  color: #68b0c9;
  vertical-align: top;
}
.footer .sertificate {
  vertical-align: middle;
}
@media (max-width: 991px) {
  .price-pricing {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
  }
  .price-pricing p {
    padding-top: 2rem;
  }
  .features {
    display: none;
  }
  .delivery-form {
    background: none;
  }
  .compare-description-block .gray {
    font-size: 1.3rem;
  }
  .compare-description-block .gray-image {
    right: -40%;
  }
  .compare-description-block .blue {
    font-size: 1.3rem;
  }
  .compare-description-block .blue-image {
    left: -49%;
  }
}
@media (max-width: 769px) {
  header .logo img {
    left: 40%;
  }
  .hero-title h1 {
    font-size: 3.5rem;
    text-align: center;
  }
  .hero-title span {
    text-align: center;
  }
  .facilities {
    display: flex;
    flex-flow: wrap;
  }
  .facilities-header h2 {
    font-size: 2.8rem;
  }
  .facilities-description {
    margin-bottom: 5rem;
  }
  .facilities-description h3 {
    padding-top: 0;
  }
  .facilities-description-first {
    order: 0;
    width: 100%;
  }
  .facilities-description-second {
    order: 2;
    width: 100%;
  }
  .facilities-description-third {
    order: 4;
    width: 100%;
  }
  .facilities .image-first {
    order: 1;
    width: 100%;
  }
  .facilities .image-second {
    order: 3;
    width: 100%;
  }
  .facilities .image-third {
    order: 5;
    width: 100%;
  }
  .facilities .arrow {
    display: none;
  }
  .price-header {
    padding-bottom: 3rem;
  }
  .price-pricing {
    margin-bottom: 2rem;
  }
  .stats-numbers {
    padding-bottom: 3rem;
  }
  .compare {
    display: none;
  }
  .address-delivery img {
    padding-top: 2rem;
  }
  .footer .logo img {
    top: -100%;
    left: 35%;
  }
}
@media (max-width: 576px) {
  .hero-title h1 {
    font-size: 2.4rem;
  }
  .hero-title span {
    font-size: 1.5rem;
  }
  .hero .form {
    padding: 1rem;
  }
  .hero .form form {
    padding: 1rem;
  }
  .hero .form input {
    width: 100%;
    font-size: 1.3rem;
  }
  .hero .form button {
    width: 100%;
    font-size: 1.1rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }
  .price-pricing {
    margin-right: auto;
    margin-left: auto;
  }
  .stats-numbers {
    padding-bottom: 5rem;
  }
  .address-delivery button {
    font-size: 1.3rem;
  }
}
