@font-face {
    font-family: 'Museo Sans 300 Light';
    src: url('../fonts/MuseoSansCyrl-300.eot');
    src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoSansCyrl-300.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans 500 Medium';
    src: url('../fonts/MuseoSansCyrl-500.eot');
    src: url('../fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoSansCyrl-500.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans 700 Bold';
    src: url('../fonts/MuseoSansCyrl-700.eot');
    src: url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoSansCyrl-700.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.thin() {
    font-family: 'Museo Sans 300 Light', 'sans-serif';
}

.reg() {
    font-family: 'Museo Sans 500 Medium', 'sans-serif';
}

.bold() {
    font-family: 'Museo Sans 700 Bold', 'sans-serif';
}

@main-color: #68b0c9;
@text-color: #535353;
@input-border: #e8e8e8;
@line-through: #1e1e1e;
@compare-color: #535353;
@red: #d04545;
@white: #fff;
@black: #000;

html {
    font-size: 0.625em;
}

body {
    .reg();
    font-size: 1.6rem;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

section {
    padding-bottom: 10rem;
}

.section-header {
    h2 {
        font-size: 3.6rem;
        color: @text-color;
    }
}

button {
    .bold();
    display: block;
    background-color: @main-color;
    color: @white;
    padding: 2.1rem 5rem;
    margin-right: auto;
    margin-left: auto;
    border: none;
    border-radius: 2.3rem;
    box-shadow: 0 5px 5px rgba(1, 1, 1, 0.1);
}

button:hover {
    background: darken(@main-color, 15%);
}

input {
    display: block;
    padding: 1.7rem 4.3rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border: 1px solid @input-border;
    border-radius: 2rem;
}

header {
    padding-top: 4rem;
    margin-bottom: 0rem;

    .logo {
        padding-top: 3rem;

        img {
            position: absolute;
            top: -20%;
        }

        &-text {
            position: relative;
            font-size: 2.3rem;
            color: @main-color;
        }
    }

    .phone {
        padding-top: 1rem;

        strong {
            font-size: 2.4rem;
            color: @text-color;
            line-height: 4.2rem;
        }

        a {
            font-size: 1.4rem;
            line-height: 4.2rem;
            text-decoration: underline;
            text-align: right;
        }
    }
}

.hero {
    background: url(../images/hero/hero_bg.jpg) no-repeat center;
    background-size: cover;
    max-width: 100%;

    &-title {
        h1 {
            .bold();
            font-size: 4rem;
            line-height: 5rem;
            color: @text-color;
            padding-top: 2rem;
            text-align: right;
        }

        span {
            display: block;
            font-size: 2.7rem;
            line-height: 4.2rem;
            color: @main-color;
            text-align: right;
        }

    }

    .form {
        background-color: @white;
        padding: 4rem !important;
        margin-top: 7rem;
        border-radius: 2rem;
        box-shadow: 0 0 38px rgba(104, 176, 201, 0.34);

        &-title {
            .bold();
            font-size: 2rem;
            color: @main-color;
        }

        &-subtitle {
            font-size: 1.2rem;
        }

    }
}

//FACILITIES
.facilities {
    &-header {
        .bold();
        margin-top: 8rem;
        margin-bottom: 16rem;
    }

    &-description {
        h3 {
            .bold();
            font-size: 3rem;
            color: @main-color;
            padding-bottom: 3rem;
            padding-top: 3.5rem;
        }

        p {
            .thin();
            font-size: 1.8rem;
            color: @text-color;
        }
    }

    &-image {
        margin-bottom: 14rem;

        img {
            max-width: 100%;
        }
    }
}

//PRICE
.price {
    background: url(../images/price/price-bg.jpg) no-repeat center;
    background-size: cover;
    .bold();
    max-width: 100%;

    &-header {
        padding-top: 7rem;
        padding-bottom: 8rem;

        strong {
            font-size: 5.5rem;
        }

        h2 {
            font-size: 2.6rem;
        }

        span {
            font-size: 2.6rem;
            color: @main-color;
        }
    }

    &-pricing {
        width: 100%;
        height: 100%;
        background: @white;
        text-align: center;
        border-radius: 50%;

        p {
            font-size: 1.8rem;
            color: @line-through;
            padding-top: 4rem;
            margin-bottom: 0;
            text-decoration: line-through;
        }

        strong {
            font-size: 3rem;
            color: @red;
        }
    }

    &-book {
        font-size: 1.4rem;
        color: @red;
    }
}

//STATS
.stats {
    padding-top: 10rem;

    &-numbers {
        h3 {
            .bold();
            font-size: 4.7rem;
            color: @main-color;
            text-align: center;
            line-height: 5rem;
        }

        span {
            width: 100%;
            display: inline-block;
            font-size: 1.8rem;
            text-align: center;
        }
    }
}


//FEATURES

.features {
    background: url(../images/features/chair.jpg) no-repeat center 2rem;
    background-size: cotain;


    &-description {
        margin-bottom: 8rem;

        h3 {
            position: relative;
            .bold();
            font-size: 2rem;
            color: @main-color;
            padding-bottom: 2rem;
            text-align: right;
        }

        .first-arrow {
            position: absolute;
            top: 5%;
            left: 100%;
        }

        .second-arrow {
            position: absolute;
            top: -10%;
            right: 100%;
        }

        .third-arrow {
            position: absolute;
            top: -10%;
            right: -45%;
        }

        .fourth-arrow {
            position: absolute;
            top: 10%;
            right: 95%;
        }

        p {
            .thin();
            font-size: 1.4rem;
            color: @text-color;
            text-align: right;
        }

        &-right {
            h3 {
                text-align: left;
            }

            p {
                text-align: left;
            }
        }
    }
}

//DELIVERY
.delivery {
    background: url(../images/delivery/delivery-bg.jpg) no-repeat center;
    padding-top: 1rem;

    &-form {
        background: url(../images/delivery/arrow.svg) no-repeat right;
    }

    &-title {
        h3 {
            font-size: 2rem;
            .bold();
            line-height: 3.4rem;
        }
    }

    &-subtitle {
        span {
            font-size: 2rem;
            .bold();
            color: @main-color;
        }
    }
}

//COMPARE
.compare {
    background: url(../images/compare/compare-bg.jpg) no-repeat;
    background-position: 49.5% 50%;
    background-size: 26rem;

    &-header {
        padding-top: 5rem;
        padding-bottom: 4.5rem;

        p {
            display: inline-block;
            text-align: left;

            &:first-of-type {
                text-align: right;
            }
        }

        &-gray {
            .bold();
            font-size: 2.2rem;
            color: @text-color;
            padding-right: 6rem;
        }

        &-blue {
            .bold();
            font-size: 2.2rem;
            color: @main-color;
        }
    }

    &-description {
        &-block {
            .bold();
            font-size: 1.5rem;
            padding-bottom: 3rem;

            .gray {
                position: relative;
                color: @compare-color;
                text-align: right;

                &-image {
                    position: absolute;
                    top: 0;
                    right: -30%;
                }

            }

            .blue {
                position: relative;
                color: @main-color;

                &-image {
                    position: absolute;
                    top: 0;
                    left: -30%;
                }
            }

        }
    }
}

//ADDRESS
.address {
    iframe {
        max-width: 100%;
    }

    &-delivery {
        img {
            padding-bottom: 2rem;
        }

        p {
            .thin();
            font-size: 1.6rem;
            color: @text-color;
            padding-bottom: 2rem;
        }

        h4 {
            .bold();
            font-size: 2rem;
            color: @main-color;
            padding-bottom: 5rem;
        }
    }
}

.footer {
    .logo {
        img {
            position: absolute;
            top: -80%;
        }

        &-text {
            position: relative;
            font-size: 2.3rem;
            color: @main-color;
            vertical-align:top;
        }
        }.sertificate{
          vertical-align: middle;
        }
}

@media(max-width:991px) {
    .price {
        &-pricing {
            width: 12rem;
            height: 12rem;
            border-radius: 50%;

            p {
                padding-top: 2rem;
            }
        }
    }

    .features {
        display: none;
    }

    .delivery {
        &-form {
            background: none;
        }
    }

    .compare {
        &-description {
            &-block {
                .gray {
                    font-size: 1.3rem;

                    &-image {
                        right: -40%;
                    }
                }

                .blue {
                    font-size: 1.3rem;

                    &-image {
                        left: -49%
                    }
                }
            }
        }
    }
}



@media (max-width:769px) {
    header {
        .logo {
            img {
                left: 40%;
            }
        }
    }

    .hero {
        &-title {
            h1 {
                font-size: 3.5rem;
                text-align: center;
            }

            span {
                text-align: center;
            }
        }
    }

    .facilities {
        display: flex;
        flex-flow: wrap;

        &-header {
            h2 {
                font-size: 2.8rem;

            }
        }

        &-description {
            margin-bottom: 5rem;

            h3 {
                padding-top: 0;
            }

            &-first {
                order: 0;
                width: 100%;
            }

            &-second {
                order: 2;
                width: 100%;
            }

            &-third {
                order: 4;
                width: 100%;
            }
        }

        .image {
            &-first {
                order: 1;
                width: 100%;
            }

            &-second {
                order: 3;
                width: 100%;
            }

            &-third {
                order: 5;
                width: 100%;
            }
        }

        .arrow {
            display: none;
        }
    }

    .price {
        &-header {
            padding-bottom: 3rem;
        }

        &-pricing {
            margin-bottom: 2rem;
        }
    }

    .stats {
        &-numbers {
            padding-bottom: 3rem;
        }
    }

    .compare {
        display: none;
    }

    .address {
        &-delivery {
            img {
                padding-top: 2rem;
            }
        }
    }
    .footer{
        .logo{
            img{
                top:-100%;
                left:35%;
            }
        }
    }
}


@media (max-width:576px) {
    .hero {
        &-title {
            h1 {
                font-size: 2.4rem;
            }

            span {
                font-size: 1.5rem;
            }
        }

        .form {
            form {
                padding: 1rem;
            }

            padding: 1rem;

            input {
                width: 100%;
                font-size: 1.3rem;
            }

            button {
                width: 100%;
                font-size: 1.1rem;
                padding-right: 0rem;
                padding-left: 0rem;
            }
        }
    }

    .price {
        &-pricing {
            margin-right: auto;
            margin-left: auto;
        }
    }

    .stats {
        &-numbers {
            padding-bottom: 5rem;
        }
    }

    .address {
        &-delivery {
            button {
                font-size: 1.3rem;
            }
        }
    }
}