html {
  font-size: 10px;
}
header {
  padding-top: 4rem;
}
header .logo {
  font-size: 2.3rem;
  color: #68b0c9;
  background-clip: text;
}
header .phone {
  padding-top: 1.5rem;
}
header .phone strong {
  font-size: 2.4rem;
  color: #535353;
  line-height: 4.2rem;
}
header .phone a {
  font-size: 1.4rem;
  line-height: 4.2rem;
  text-decoration: underline;
  text-align: right;
}
